.pagin{
    position: absolute;
    bottom: 15px;
    right: auto;
    left: auto;
    margin-top: 10px; 
}
.pagin p{
    width: max-content;
    border-bottom: 1px solid #0ea2f2e1;
    color: #0ea2f2e1;
} 