@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js');

/* Custom style */
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.7) !important;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  }
  div.accordion{
    padding: 40px;
  }
  div.faqs{
    margin-top: 30px;
    background: #0EA4F24D;
  }
  i.number{
    font-size: 30px;
    font-weight: bold;
    width: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 80px; 
    padding: 10px; 
    color: var(--primaryBlue);
}
p.f{
    margin-top: 40px;
}
div.card-body{
  padding: 40px;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}
p.num-text{
  font-size: larger;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  padding: 15px; 
}