div.offer-table{
    margin-top: 25px;
}
.table{
    border: 1px solid rgb(215, 215, 215); 
    border-collapse: collapse;
    border-radius: 30px;
} 
thead{
    background-color: #0ea2f2e5;  
} 
thead tr th{
    color: black;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
} 
td span.status{
    background-color: #0ea2f229;
    padding: 6px;
    border-radius: 4px;  
}
tr{
    padding: 40px !important;
}
td span.instant{
    background-color: #F50C2D1A;
    margin-left: 10px; 
    border-radius: 5px;
    padding: 6px;
}
td span.instant img{ 
    margin-right: 5px;
}